$margin-defailt: 50px;

.container{
    margin-left: $margin-defailt;
    margin-right: $margin-defailt;
}

.c-toolbar{
    &__title{ }
    &__spacer{
        flex: 1 1 auto;
    }
    &__btn{ }
    &__icon{ }
}
.example-spacer {
    flex: 1 1 auto;
}